<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.example.ipchubtestapp" />
    </queries>

    <application android:label="Light Auto-Client"
        android:theme="@style/Theme.IPCCallerTestApp"
        android:icon="@android:drawable/ic_menu_day">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".LightReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.ipchubtestapp.action.NIGHT_MODE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>